body {
	background-color: #CEE0F1;
	margin: 0px;
	padding: 0px;
}

div#login {
	background-color: #5387B9;
}


div#cadastro {
	background-color: #FFFFFF;
}

h1 {
	font-family: "accid";
}

@font-face {
font-family: "accid";
src: url("/font/accid__.ttf") format("truetype");
}