body {
	background-color: #CEE0F1;

}

div#login {
	background-color: #5387B9;
}


div#cadastro {
	background-color: #FFFFFF;
}

h1 {
	font-family: accid;
}

@font-face {
font-family: accid;
src: url("accid___.ttf");
font-weight: bold;
}

.accid {
	font-family:accid;
}