body {
	background-color: #CEE0F1;
	margin: 0px;
	padding: 0px;

}

div#login {
	background-color: #5387B9;
}

#loginint {
	position: relative;
	top:-16px;
	vertical-align: center auto;
	width: 460px;
}


div#cadastro {
	background-color: #FFFFFF;
}

div#cadastroint {
	position: relative;
	left:3%;
	top: 23px;
	width: 600px;
}

h1 {
	font-family: accid;
}

@font-face {
font-family: accid;
src: url("accid___.ttf");
font-weight: bold;
}

.accid {
	font-family:accid;
}

h1#logo{
	position: relative;
	top: 36px;
}
